blinker==1.8.2
click==8.1.7
command-not-found==0.3
dbus-python==1.2.18
distro-info===1.1build1
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
ldap3==2.9.1
MarkupSafe==2.1.5
netifaces==0.11.0
pyasn1==0.6.0
PyGObject==3.42.0
python-apt==2.3.0+ubuntu2
PyYAML==5.4.1
ubuntu-advantage-tools==27.7
ufw==0.36.1
Werkzeug==3.0.3
